[package]
name = "collapsescanner"
version = "0.2.2"
edition = "2021"
authors = ["dest4590"]
default-run = "collapsescanner"

[[bin]]
name = "remapper"
path = "scripts/remapper.rs"

[dependencies]
colored = "3.0.0"
regex = "1.12.2"
zip = "6.0.0"
indicatif = "0.18.2"
lazy_static = "1.5.0"
url = "2.5.7"
hex = "0.4.3"
byteorder = "1.5.0"
clap = { version = "4.5.51", features = ["derive"] }
walkdir = "2.5.0"
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.145"
tempfile = "3.23.0"
thiserror = "2.0.17"
rayon = "1.11.0"
encoding_rs = "0.8.35"
wildmatch = "2.5.0"
lru = "0.16.2"
sysinfo = "0.37.2"
bloomfilter = "3.0"

[profile.release]
codegen-units = 1
opt-level = "z"
panic = "abort"
strip = true
lto = true
